.home__section {
  background-image: url("images/portfolio-background-header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 79vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__data {
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(122, 122, 246, 1) 0%,
    rgba(0, 212, 255, 1) 46%
  ); */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 250px;
  height: 480px;
  padding: 20px;
  /* border: black solid; */
  position: absolute;
}

.home__data:hover {
  cursor: pointer;
}

.home__title {
  font-size: 3rem; /* increase the font size to 3rem (48px) */
}

.home__subtitle {
  font-size: 2rem; /* increase the font size to 2rem (32px) */
}

.home__description {
  font-size: 1.5rem; /* increase the font size to 1.5rem (24px) */
}

/* PROFILE CARD */
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 350px;
  max-height: 520px;
  height: 100%;
  width: 100%;
  background: #fff;
  border-radius: 24px;
  padding: 25px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.profile-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36%;
  width: 100%;
  border-radius: 24px 24px 0 0;
  background-color: #73d294;
}
.image {
  position: relative;
  height: 150px;
  width: 150px;
  top: 9%;
  border-radius: 50%;
  background-color: #73d294;
  padding: 3px;
  margin-bottom: 10px;
}
.image .profile-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}
.profile-card .text-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}
.home-content-data {
  position: relative;
  top: 10%;
}
.text-data .name {
  font-size: 22px;
  font-weight: 500;
}
.text-data .job {
  font-size: 15px;
  font-weight: 400;
}
.profile-card .media-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.media-buttons .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #4070f4;
  text-decoration: none;
}
.profile-card .buttons {
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.buttons {
  display: flex;
  position: relative;
  justify-content: center; 
}
.buttons .button {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  border: none;
  border-radius: 24px;
  margin: 0 10px;
  padding: 8px 24px;
  background-color: #73d294;
  cursor: pointer;
  transition: all 0.3s ease;
}
.buttons .button:hover {
  background-color: #059637;
}
.profile-card {
  display: flex;
  align-items: center;
  /* margin-top: 20px;  */
} 

.home-close-button {
  position: relative;
  top: -19px;
  right: -152px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: x-large;
  border-radius: 30px;
  font-weight: bold;
  background: #4d4c4c;
  color: rgb(255, 255, 255);
}

.home-close-button:hover {
  cursor: pointer;
  font-size: xx-large;
  transition: 0.1s;
}

.profile-card-hidden {
  display: none;
}
