.home__section {
  background-image: url("images/portfolio-background-header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__data {
  /* background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(122, 122, 246, 1) 0%,
    rgba(0, 212, 255, 1) 46%
  ); */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 90%;   */
  max-width: 250px;
  height: 480px;
  padding: 20px;
}

.home__data:hover{
  cursor: pointer;
}

.home__title {
  font-size: 3rem; /* increase the font size to 3rem (48px) */
}

.home__subtitle {
  font-size: 2rem; /* increase the font size to 2rem (32px) */
}

.home__description {
  font-size: 1.5rem; /* increase the font size to 1.5rem (24px) */
}
